@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  background: #000;
  color: white;
}

@layer utilities {
  .text-balance {
    hyphens: auto;
  }
}

/* Hacker glitch */

@keyframes glitch {
  0%,
  85%,
  100% {
    transform: translate(0);
  }

  86% {
    transform: translate(-4px, 2px);
  }

  88% {
    transform: translate(4px, -2px);
  }

  90% {
    transform: translate(-2px, 1px);
  }

  92% {
    transform: translate(2px, -1px);
  }

  94% {
    transform: translate(0);
  }
}

.glitch {
  animation: glitch 1.5s infinite;
}
